body {
  padding: 0;
  align-items: center;
 
}

.slideshow-container {
  position: relative;
  display: flex;
  justify-content: center;
 
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease
}

.active, .dot:hover{
  background-color: black;
}
.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}
.numbertext {
  font-weight: bolder;
}


